@model GummiBear.Models.Product

@{
    ViewData["Title"] = "Product - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a New Product</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    @Html.LabelFor(model => model.Cost)
    @Html.EditorFor(model => model.Cost)

    <input type="submit" value="Create" class="btn btn-default" />

}

@Html.ActionLink("Back to Products", "Index")