@model GummiBear.Models.Product

@{
    ViewData["Title"] = "Product - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var averageRating = Model.AverageRating();
}

<h2>Product Details</h2>
<hr/>
<p><label>Product Name</label> : @Html.DisplayFor(model => model.Name)</p>
<p><label>@Html.DisplayNameFor(model => model.Description)</label> : @Html.DisplayFor(model => model.Description)</p>
<p><label>@Html.DisplayNameFor(model => model.Cost)</label> : @Html.DisplayFor(model => model.Cost)</p>
<a class="action" href=@Url.Action("Edit", "Products", new { id = Model.ProductId })><span class="glyphicon glyphicon-pencil" aria-label="edit product"></span></a>

<div class="reviews">
    <h2>Reviews For This Product</h2>
    <h3>Average Rating: @averageRating</h3>
    @foreach (var review in Model.Reviews)
    {
        <div class="review">
            <p><label>Author's Name: </label> @review.Author</p>
            <p><label>Review: </label> @review.ContentBody</p>
            <p><label>Rating: </label> @review.Rating</p>
        </div>

    }
</div>


<div class="page-nav">
    @Html.ActionLink("Back to Products", "Index")
</div>