@model IEnumerable<GummiBear.Models.Product>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products offered by Gummi Bear Kingdom</h2>
<hr />
<div class="options">
    @Html.ActionLink("Create new Product", "Create", null, null, new { @class = "option-item" } ) |
    @Html.ActionLink("Delete all Products", "DeleteAll", null, null, new { @class = "option-item" })
</div>

<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Cost)</th>
        <th>Actions</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelProduct => product.Name)</td>
            <td>@Html.DisplayFor(modelProduct => product.Description)</td>
            <td>@Html.DisplayFor(modelProduct => product.Cost)</td>
            <td>
                <a href=@Url.Action("Details", "Products", new { id = product.ProductId })><span class="glyphicon glyphicon-th-list" aria-label="details for product"></span></a> |
                <a href=@Url.Action("Edit", "Products",  new { id = product.ProductId })><span class="glyphicon glyphicon-pencil" aria-label="edit product"></span></a> |
                <a href=@Url.Action("Delete", "Products", new { id = product.ProductId })><span class="glyphicon glyphicon-remove" aria-label="delete product"></span></a>
            </td>
        </tr>

    }
</table>

<hr />
