@model IEnumerable<GummiBear.Models.BlogPost>

@{
    ViewData["Title"] = "Blog Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gummi Bear Kingdom Blog</h2>
<hr />
<div class="options">
    @Html.ActionLink("Create new post", "Create", null, null, new { @class = "option-item" })
</div>



@foreach (var post in Model)
{
<div class="blog-post">
    <h3 class="post-title">@Html.DisplayFor(modelPost => post.Title)</h3>
    <h4>By @Html.DisplayFor(modelPost => post.Author)</h4>
    <p>Posted on @post.PostDate</p>
    <p class="text-body">@Html.DisplayFor(modelPost => post.TextBody)</p>
    <a class="action" href=@Url.Action("Delete", "BlogPosts", new { id = post.BlogPostId })><span class="glyphicon glyphicon-remove" aria-label="delete blog post"></span></a>
    <a class="action" href=@Url.Action("Edit", "BlogPosts", new { id = post.BlogPostId })><span class="glyphicon glyphicon-pencil" aria-label="edit blog post"></span></a>
</div>
}

