@using GummiBear.Models;
@model Dictionary<Product, int>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h2>Welcome to Gummi Bear Kingdom!</h2>
    <h2>Here are our top 3 products</h2>
    @foreach (KeyValuePair<Product, int> pair in Model)
    {
        <div class="top-product">
            <h4>@pair.Key.Name</h4>
            <p>@pair.Key.Description</p>
            <p>@String.Format("{0:c}", @pair.Key.Cost)</p>
            <p>Average rating: @pair.Value out of 5</p>
        </div>
    

    }


</div>
